################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Videos
/source
/Searches
/Saved Games
/OneDrive
/ntuser.ini
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/Links
/Favorites
/Downloads
/Documents
/Contacts
/AppData
/3D Objects
/.vscode
/.viminfo
/.nuget
/.librarymanager
/.lesshst
/.gitconfig.swp
/.gitconfig
/.git-for-windows-updater
/.dotnet
/.config
/.bash_history
/.atom
/.angular-config.json
